<section>
  <header>
    <h1 class="text-3xl font-bold text-white">Experiencia</h1>
    <p class="text-lg text-[#A2ABB8] mt-2 mb-4">Desarrollador Full Stack</p>
  </header>
  <article>
    <ol class="relative border-s border-gray-700">
      <!-- Pasante Full Stack -->
      <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 rounded-full
           -start-3 ring-8 ring-gray-900 bg-blue-900"
        >
          <svg class="w-2.5 h-2.5 text-blue-300" fill="currentColor" viewBox="0 0 20 20"
            ><path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            ></path></svg
          >
        </span>
        <h3 class="flex items-center mb-1 text-lg font-semibold text-white">
          Pasante Full Stack - APREHSI GROUP
          <span class="text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm bg-blue-900
             text-blue-300 ms-3"
            >Latest</span
          >
        </h3>
        <time class="block mb-2 text-sm font-normal text-gray-500"> Valledupar, Colombia - Feb 2025 – Jun 2025 </time>
        <p class="mb-4 text-base text-gray-400">
          Desarrollé un aplicativo web para la gestión de un call center, integrando la API de WhatsApp para atención al
          cliente en tiempo real. Implementé asignación automática de agentes e historial de conversaciones. Usé
          Micronaut, PostgreSQL y WebSockets con una arquitectura de microservicios. Documenté procesos técnicos y
          trabajé con Scrum.
        </p>
      </li>

      <!-- Desarrollador Frontend - Kanalytics -->
      <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-900 bg-blue-900"
        >
          <svg class="w-2.5 h-2.5 text-blue-300" fill="currentColor" viewBox="0 0 20 20"
            ><path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            ></path></svg
          >
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Desarrollador Frontend - Kanalytics Technologies</h3>
        <time class="block mb-2 text-sm text-gray-500"> Colombia - Abr 2025 – May 2025 </time>
        <p class="text-base text-gray-400">
          Desarrollé el panel administrativo con React, Tailwind y Zustand. Implementé interfaces modernas y colaboré en
          el desarrollo de la app móvil con React Native. Aseguré coherencia visual y trabajé bajo Scrum con control de
          versiones en Git.
        </p>
      </li>

      <!-- Desarrollador Android - Freelancer -->
      <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-900 bg-blue-900"
        >
          <svg class="w-2.5 h-2.5 text-blue-300" fill="currentColor" viewBox="0 0 20 20"
            ><path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            ></path></svg
          >
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Desarrollador Android - Freelancer</h3>
        <time class="block mb-2 text-sm text-gray-500"> Colombia - Oct 2024 – Feb 2025 </time>
        <p class="text-base text-gray-400">
          Desarrollé una app Flutter para reconocimiento de plantas, integrando un modelo de visión computacional
          entrenado en Python. Creé una API REST con FastAPI desplegada en Render mediante Docker. Diseñé la
          arquitectura entre frontend y backend, destacando habilidades en DevOps, backend y mobile.
        </p>
      </li>

      <!-- Desarrollador Flutter - Simil Solutions -->
      <li class="ms-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 rounded-full
           -start-3 ring-8 ring-gray-900 bg-blue-900"
        >
          <svg class="w-2.5 h-2.5 text-blue-300" fill="currentColor" viewBox="0 0 20 20"
            ><path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            ></path></svg
          >
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Desarrollador Flutter - SIMIL SOLUTIONS</h3>
        <time class="block mb-2 text-sm text-gray-500"> Colombia - Feb 2024 – Jun 2024 </time>
        <p class="text-base text-gray-400">
          Participé en el desarrollo del aplicativo Mussico con Flutter, optimizando funcionalidades clave y
          garantizando una experiencia de usuario de alta calidad. También colaboré en el backend con Node.js,
          TypeScript y MongoDB, usando Docker para entornos de desarrollo.
        </p>
      </li>
    </ol>
  </article>
</section>
