<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    class="group w-8 h-8 flex items-center rounded-full bg-transparent
    hover:bg-blue-600 transition-all"
>
    <slot />
</a>
