<section class="overflow-hidden whitespace-nowrap py-4">
  <div class="flex items-center gap-4 mt-6 mb-4">
    <h2 class="text-2xl font-bold">Tecnologias</h2>
  </div>
  <div class="inline-flex animate-scroll">
    <div class="flex gap-6">
      <img src="https://skillicons.dev/icons?i=git" alt="Git" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=css" alt="CSS" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=discord" alt="Discord" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=docker" alt="Docker" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=postgres" alt="PostgreSQL" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=express" alt="Express" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=figma" alt="Figma" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=firebase" alt="Firebase" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=github" alt="GitHub" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=html" alt="HTML" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=js" alt="JavaScript" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=mongodb" alt="MongoDB" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=nextjs" alt="Next.js" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=nodejs" alt="Node.js" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=postman" alt="Postman" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=react" alt="React" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=tailwind" alt="Tailwind" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=ts" alt="TypeScript" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=vscode" alt="VS Code" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=kubernetes" alt="Kubernetes" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=flutter" alt="Flutter" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=dart" alt="Dart" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=java" alt="Java" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=python" alt="Python" class="w-16 h-16" />
      <img src="https://skillicons.dev/icons?i=fastapi" alt="FastAPI" class="w-16 h-16" />
    </div>
  </div>
</section>
